/* ==== Variables CSS ==== */

:root {

  --header-height: 3.5rem;

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;

  /* Font size - Mobile */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Font weight */
  --font-medium: 500;
  --font-semibold: 600;

  /* Margins Bottom */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/* ==== Base ==== */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ==== Reusable CSS clases ==== */

.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  font-size: var(--h1-font-size);
}
.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}
.section__title,
.section__subtitle {
  text-align: center;
}

/* ==== Layout ==== */

.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}
/* ==== Navigation Bar ==== */

.header{
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background .3s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: black;
  font-size: 1.2rem;
}
.nav__logo {
  letter-spacing: .5px;
  font-weight: 500;
}
.nav__toggle {
  cursor: pointer;
}
.nav__list {
  padding: 5rem 0 0 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav__link {
  color: black;
  transition: color .3s;
}
.nav__link:hover {
  color: blue;
}
.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    background-color: white;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    transition: right .3s;
  }
}

.show-menu {
  right: 0;
}

/* ==== Button ==== */

.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  letter-spacing: 1.25px;
  font-weight: 500;
  border-radius: .5rem;
  color: white;
  background-color: #3a4e7a;
}

.button-elevate-1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.button-elevate-2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* ==== Hero ==== */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.hero__data {
  margin-top: 1.5rem;
  text-align: center;
}
.hero__title {
  font-size: var(--big-font-size);
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 11ch;

  animation: typing 2s steps(13),
  blink .5s infinite step-end alternate;
  overflow: hidden;
}

/* Typing Animation */
@keyframes typing {
  from { width: 0}
}
@keyframes blink {
  50% { border-color: transparent}
}

.hero__title span {
  color: #3a4e7a;
}
.hero__subtitle {
  font-weight: var(--font-medium);
  color: #838383;
  margin-bottom: var(--mb-2);
}
.hero__list {
  display: flex;
  gap: 1rem;
}

.hero__icon-link {
  color: #3a4e7a;
  font-size: 2rem;
}

/* ==== About Me ==== */

.about__data {
  text-align: center;
}
.about__description {
  color: #4E4D4D;
  margin-bottom: var(--mb-2-5);
}

/* ==== Skills ==== */
.skills {
  height: 100vh;
}
.skills__data {
  text-align: center;
}
.skills__title {
  margin-bottom: var(--mb-1);
}
.skills__icons {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-bottom: var(--mb-1);
}
.skills__data i {
  font-size: 2rem;
}
/* ==== Projects ===== */

.projects__container {
  overflow: initial;
}
.projects__content {
  padding: 0 1.5rem;
}
.projects__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}
.projects__description {
  margin-bottom: var(--mb-0-75);
}
.projects__languages {
  margin-bottom: var(--mb-1);
}
.projects__languages i {
  font-size: 2rem;
}
.projects__button-github {
  background: black;
}

